body{

   background-color: #faf8f3;
    font-family: 'Markazi Text','serif';
    margin: 0;
    padding: 0;
}

h1{

    font-size: 3rem;

}
h2{
    font-size: 2rem;
}
header > p {
    
    margin-left: auto;
    margin-right: auto;

}
header  {


    display:flex ;
    justify-content: center;
}


nav ul  {
    
    display: flex;
    justify-content: space-between;
    
    
} 
nav{
    border: 2px solid   #495E57;
    margin: 0;
    padding: 10px 20px;
    border-radius:8px ;
   width: 100%;
    box-sizing: border-box; 
    background: #495E57;
    
    
}
nav ul li {
    list-style: none;
    color:  #faf8f3;
    font-size: larger;
   font-family: 'Playfair Display', serif;
    text-decoration: none;
    
}
li a {
    color: #faf8f3;
    text-decoration: none;
}
li a:hover{

    color: #495E57;
    text-decoration: none;
    border: #faf8f3 solid 2px;
    background-color: #faf8f3;
    margin: 0%;
    padding: 30px 20px ;
}


.one{
  
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
    font-size: x-large;
    
    border: #faf8f3 solid 2px;
    
  
}
.text{
    font-family: 'Coneria Script', cursive;
    color: #495E57;
}

.two{

display: flex;
justify-content: space-around;
margin: auto auto;

}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.copy{

font-size: xx-large;

color: #495E57;



}
.slider{

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    margin: 20px auto;

}

.slider-x{
    display: flex;
    width: calc(250px *11);
    animation: scroll 25s linear infinite ;
}
.slide{
    width: 250px;
    
}
.slide img{
    width: 100%;
    height: 100%;
    
    
}
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 5.5)); } 
}
